@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  border-radius: 10px;
}

/* Color del scroll */
::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 10px;
}

.button_primary {
  @apply border border-zinc-700 bg-zinc-800 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-zinc-900 duration-300 ease-in-out rounded-md
}